body{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
    height:auto;
    overflow:auto;
}
td{
    font-size: 14px;
}
html{
    overflow:auto;
    height: auto;
}
.scrollable {
    position:inherit;
}

